@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Fira Sans"), local("FiraSans-Regular"), url(http://fonts.gstatic.com/s/firasans/v5/EjsrzDkQUQCDwsBtLpcVQZBw1xU1rKptJj_0jans920.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Fira Sans Bold"), local("FiraSans-Bold"), url(http://fonts.gstatic.com/s/firasans/v5/DugPdSljmOTocZOR2CItOhampu5_7CjHW5spxoeN3Vs.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: local("Fira Mono"), local("FiraMono"), url(http://fonts.gstatic.com/s/firamono/v3/SlRWfq1zeqXiYWAN-lnG-pBw1xU1rKptJj_0jans920.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

body {
  background-color: white;
  font-size: 14px;
  line-height: 1.6;
  font-family: 'Open Sans', sans-serif;
  color: #666;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  height: 4000px; }

::-moz-selection {
  background: #FFF498; }

::selection {
  background: #FFF498; }

::-moz-selection {
  background: #FFF498; }

img::-moz-selection {
  background: transparent; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: #FFF498; }

a {
  color: #0074D9;
  text-decoration: none;
  outline: 0; }
  a:hover, a:focus {
    color: #40a6ff; }

.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6 {
  color: #222;
  font-weight: bold; }

.gigantic {
  font-size: 110px;
  line-height: 1.09;
  letter-spacing: -2px; }

.huge, h1 {
  font-size: 68px;
  line-height: 1.05;
  letter-spacing: -1px; }

.large, h2 {
  font-size: 42px;
  line-height: 1.14; }

.bigger, h3 {
  font-size: 26px;
  line-height: 1.38; }

.big, h4 {
  font-size: 22px;
  line-height: 1.38; }

.small, small {
  font-size: 10px;
  line-height: 1.2; }

p {
  margin: 0 0 20px 0; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0; }

.header {
  width: 100%;
  height: 874px;
  background-image: url(../img/i2h-pagebg.svg);
  background-position: 395px -218px;
  background-size: cover;
  background-repeat: no-repeat; }
  .header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 20px; }
    @media (max-width: 992px) {
      .header .container {
        padding: 0;
        margin-top: -29px; } }
    .header .container .header__logo__container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto; }
      .header .container .header__logo__container .header__logo__img {
        width: 100%; }
    .header .container .header__navbar__container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .header .container .header__navbar__container .header__navbar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto; }
        @media (max-width: 992px) {
          .header .container .header__navbar__container .header__navbar {
            display: none; } }
        .header .container .header__navbar__container .header__navbar .header__navbar__ul {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          font-size: 13px;
          margin: 0;
          list-style-type: none;
          padding: 0; }
          .header .container .header__navbar__container .header__navbar .header__navbar__ul .header__navbar__li {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex; }
            .header .container .header__navbar__container .header__navbar .header__navbar__ul .header__navbar__li .header__navbar__link {
              font-size: 16px;
              font-weight: 600;
              color: #436cad;
              text-decoration: none;
              -webkit-transition: color 0.4s ease;
              transition: color 0.4s ease; }
              .header .container .header__navbar__container .header__navbar .header__navbar__ul .header__navbar__li .header__navbar__link:hover {
                color: #66698f; }
            .header .container .header__navbar__container .header__navbar .header__navbar__ul .header__navbar__li .header__navbar__link__animated {
              position: relative;
              display: inline-block;
              margin-right: 40px;
              text-shadow: 0 0 1px rgba(255, 255, 255, 0.3); }
            .header .container .header__navbar__container .header__navbar .header__navbar__ul .header__navbar__li .quick {
              z-index: 100;
              position: relative;
              padding: 8px 0px;
              width: 200px;
              border: 2px solid #42a928;
              border-radius: 40px;
              -webkit-transition: all .3s ease;
              transition: all .3s ease;
              color: #42a928;
              line-height: 1.4em;
              text-align: center;
              letter-spacing: 0.1em;
              text-transform: uppercase; }
              .header .container .header__navbar__container .header__navbar .header__navbar__ul .header__navbar__li .quick:hover {
                background-color: #42a928;
                color: #fff; }
      .header .container .header__navbar__container .header__navbar__li__sign__in {
        position: relative; }
        .header .container .header__navbar__container .header__navbar__li__sign__in .header__navbar__link__sign__in {
          border-radius: 3px;
          border: 1px solid #aaaaaa;
          background-color: transparent;
          font-size: 11px;
          font-weight: 500;
          color: #ffffff;
          padding: 10px 18px;
          text-transform: uppercase;
          -webkit-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out; }
          .header .container .header__navbar__container .header__navbar__li__sign__in .header__navbar__link__sign__in:hover {
            background-color: #ffffff;
            color: #000000;
            border-color: #ffffff; }
      .header .container .header__navbar__container .header__navbar__mobile__container .header__navbar__mobile__toggle {
        display: none;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        padding: 6px;
        width: 30px;
        height: 32px;
        position: relative;
        margin: 50px auto 50px 10px;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.4s ease-in-out;
        transition: 0.4s ease-in-out;
        cursor: pointer;
        top: 5px; }
        @media (max-width: 992px) {
          .header .container .header__navbar__container .header__navbar__mobile__container .header__navbar__mobile__toggle {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            margin-left: 25px; } }
        .header .container .header__navbar__container .header__navbar__mobile__container .header__navbar__mobile__toggle span {
          display: block;
          position: absolute;
          height: 2px;
          width: 100%;
          background-color: #121869;
          border-radius: 9px;
          opacity: 1;
          left: 0;
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: .25s ease-in-out;
          transition: .25s ease-in-out; }
          .header .container .header__navbar__container .header__navbar__mobile__container .header__navbar__mobile__toggle span:nth-child(1) {
            top: 0; }
          .header .container .header__navbar__container .header__navbar__mobile__container .header__navbar__mobile__toggle span:nth-child(2) {
            top: 10px; }
          .header .container .header__navbar__container .header__navbar__mobile__container .header__navbar__mobile__toggle span:nth-child(3) {
            top: 10px; }
          .header .container .header__navbar__container .header__navbar__mobile__container .header__navbar__mobile__toggle span:nth-child(4) {
            top: 20px; }
        .header .container .header__navbar__container .header__navbar__mobile__container .header__navbar__mobile__toggle.open span:nth-child(1) {
          top: 18px;
          width: 0;
          left: 50%;
          opacity: 0; }
        .header .container .header__navbar__container .header__navbar__mobile__container .header__navbar__mobile__toggle.open span:nth-child(2) {
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }
        .header .container .header__navbar__container .header__navbar__mobile__container .header__navbar__mobile__toggle.open span:nth-child(3) {
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }
        .header .container .header__navbar__container .header__navbar__mobile__container .header__navbar__mobile__toggle.open span:nth-child(4) {
          top: 18px;
          width: 0%;
          left: 50%;
          opacity: 0; }
  .header .header__navbar__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    background-color: #fff;
    height: auto;
    max-height: 0;
    position: absolute;
    z-index: 10;
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-transition: max-height 0.4s ease;
    transition: max-height 0.4s ease; }
    .header .header__navbar__mobile.visible {
      max-height: 300px; }
    .header .header__navbar__mobile .header__navbar__mobile__nav {
      padding: 0 20px;
      width: 100%;
      height: 100%;
      -webkit-box-shadow: inset 0 2px 7px 1px rgba(0, 0, 0, 0.2), 0 2px 7px 1px rgba(0, 0, 0, 0.2);
      box-shadow: inset 0 2px 7px 1px rgba(0, 0, 0, 0.2), 0 2px 7px 1px rgba(0, 0, 0, 0.2); }
  .header .header__navbar__mobile__ul {
    font-size: 22px;
    list-style: none;
    padding: 0;
    margin: 0; }
    .header .header__navbar__mobile__ul:nth-child(4) {
      margin-bottom: 20px; }
    .header .header__navbar__mobile__ul .header__navbar__li:nth-child(odd) {
      border-right: 1px solid #c6c6c6; }
    @media (max-width: 540px) {
      .header .header__navbar__mobile__ul .header__navbar__li {
        border-right: none !important; } }
    .header .header__navbar__mobile__ul .header__navbar__li .header__navbar__li a {
      width: 100%;
      padding: 15px 0; }
    .header .header__navbar__mobile__ul .header__navbar__li .header__navbar__link {
      color: #aaaaaa;
      -webkit-transition: color 0.4s ease;
      transition: color 0.4s ease; }
      .header .header__navbar__mobile__ul .header__navbar__li .header__navbar__link:hover {
        color: #ffffff; }
    .header .header__navbar__mobile__ul .header__navbar__li .header__navbar__link__animated {
      position: relative;
      display: inline-block;
      margin: 30px 25px;
      text-decoration: none;
      margin-right: 40px;
      text-shadow: 0 0 1px rgba(255, 255, 255, 0.3); }
      .header .header__navbar__mobile__ul .header__navbar__li .header__navbar__link__animated::after {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: #436cad;
        content: "";
        opacity: 0;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px); }
      .header .header__navbar__mobile__ul .header__navbar__li .header__navbar__link__animated:hover::after {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0); }
    .header .header__navbar__mobile__ul .h_mobile {
      width: 50%;
      float: left;
      padding: 50px;
      text-align: center;
      border-bottom: 1px solid #C6C6C6;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
      @media (max-width: 540px) {
        .header .header__navbar__mobile__ul .h_mobile {
          width: 100%;
          display: block;
          padding: 21px; } }
      .header .header__navbar__mobile__ul .h_mobile a {
        text-decoration: none;
        color: #436cad !important; }
        .header .header__navbar__mobile__ul .h_mobile a:hover {
          color: #66698f !important; }
      .header .header__navbar__mobile__ul .h_mobile .green {
        color: #42a928 !important; }
  .header .header-content {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    .header .header-content .container {
      position: relative; }
      .header .header-content .container .row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        background-color: pink;
        position: absolute;
        top: -100%; }
        .header .header-content .container .row .col-md-6 {
          width: 45%;
          padding-right: 20px;
          padding-left: 40px; }
          .header .header-content .container .row .col-md-6 .hero-section h1 {
            color: #436cad;
            font-size: 64px;
            font-weight: 1.2em;
            font-weight: 600; }
          .header .header-content .container .row .col-md-6 .hero-section p {
            margin-bottom: 24px;
            color: rgba(26, 26, 26, 0.7);
            font-size: 24px;
            line-height: 1.4em;
            text-align: left; }
    .header .header-content .col-md-6 {
      width: 45%;
      padding-right: 0px;
      padding-left: 0; }
