.header-bg {
  background-image: url(../img/i2h-pagebg.svg);
  background-position: 395px -218px;
  background-size: cover;
  background-repeat: no-repeat;
  @media (max-width: 479px) {
    height: 750px;
    background-position: 70% 0px;
  }

  @media (max-width: 767px)  {
    height: 750px;
    background-position: 39% 50%;
}

  @media (max-width: 992px) {
    background-position: 50% 50%;
    height: 874px;

  }

}
.header {
  overflow: hidden;
  .container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    @media (max-width: 992px) {
      padding: 0 15px;
      margin-top: -29px;

    }
    .header__logo__container {
      display: flex;
      flex: 0 0 auto;
      .header__logo__img {
        width: 100%;
      }
    }
    .header__navbar__container {
      display: flex;
      flex: 0 1 auto;
      align-items: center;
      .header__navbar {
        display: flex;
        flex: 0 1 auto;
        @media (max-width: 992px) {
          display: none;
        }
        .header__navbar__ul {
          display: flex;
          align-items: center;
          font-size: 13px;
          margin: 0;
          list-style-type: none;
          padding: 0;
          .header__navbar__li{
            display: flex;
            // margin: 0 15px;
            .header__navbar__link {
              font-size: 16px;
              font-weight: 600;
              color: #436cad;
              text-decoration: none;
              transition: color 0.4s ease;
              &:hover {
                color: #66698f;
              }
            }
            .header__navbar__link__animated {
              position: relative;
              display: inline-block;
              // margin: 0px 25px;
              margin-right: 40px;
              text-shadow: 0 0 1px rgba(255,255,255,0.3);

            }
            .quick {
              z-index: 100;
              position: relative;
              padding: 8px 0px;
              width: 200px;
              border: 2px solid #42a928;
              border-radius: 40px;
              transition: all .3s ease;
              color: #42a928;
              line-height: 1.4em;
              text-align: center;
              letter-spacing: 0.1em;
              text-transform: uppercase;
              &:hover {
                background-color: #42a928;
                color: #fff;
              }
            }

          }
        }
      }
      .header__navbar__li__sign__in {
        position: relative;
        .header__navbar__link__sign__in {
          border-radius: 3px;
          border: 1px solid #aaaaaa;
          background-color: transparent;
          font-size: 11px;
          font-weight: 500;
          color: #ffffff;
          padding: 10px 18px;
          text-transform: uppercase;
          transition: all 0.4s ease-in-out;
          &:hover {
            background-color: #ffffff;
            color: #000000;
            border-color: #ffffff;
          }
        }
      }
      .header__navbar__mobile__container {
        .header__navbar__mobile__toggle {
          display: none;
          flex-direction: column;
          justify-content: space-around;
          padding: 6px;
          width: 30px;
          height: 32px;
          position: relative;
          margin: 50px auto 50px 10px;
          transform: rotate(0deg);
          transition: 0.4s ease-in-out;
          cursor: pointer;
          top: 5px;
          @media (max-width: 992px) {
            display: flex;
            margin-left: 25px;
          }
          span {
            display: block;
            position: absolute;
            height: 2px;
            width: 100%;
            background-color: #121869;
            border-radius: 9px;
            opacity: 1;
            left: 0;
            transform: rotate(0deg);
            transition: .25s ease-in-out;
            &:nth-child(1) {
              top: 0;
            }
            &:nth-child(2) {
              top: 10px;
            }
            &:nth-child(3) {
              top: 10px;
            }
            &:nth-child(4) {
              top: 20px
            }
          }
          &.open {
            span {
              &:nth-child(1) {
                top: 18px;
                width: 0;
                left: 50%;
                opacity: 0;
              }
              &:nth-child(2) {
                transform: rotate(45deg);
              }
              &:nth-child(3) {
                transform: rotate(-45deg);
              }
              &:nth-child(4) {
                top: 18px;
                width: 0%;
                left: 50%;
                opacity: 0;
              }
            }
          }
        }
      }

    }
  }
    //handel-the-mobile-screen
  .header__navbar__mobile {
    display: flex;
    overflow: hidden;
    background-color: #fff;
    height: auto;
    max-height: 0;
    position: absolute;
    z-index: 10;
    width: 100%;
    flex: 1;

    transition: max-height 0.4s ease;
    &.visible {
      max-height: 360px;
    }
    .header__navbar__mobile__nav {
      padding: 0 20px;
      width: 100%;
      height: 100%;
      box-shadow: inset 0 2px 7px 1px rgba(0,0,0,0.2), 0 2px 7px 1px rgba(0,0,0,0.2);
    }
  }
    .header__navbar__mobile__ul {
        font-size: 22px;
        list-style: none;
        padding: 0;
        margin: 0;
        &:nth-child(4) {
          margin-bottom: 20px;
        }
        .header__navbar__li {
          &:nth-child(odd) {
            border-right: 1px solid #c6c6c6;
          }
          @media (max-width: 540px) {
            border-right: none !important;
          }
          .header__navbar__li a {
            width: 100%;
            padding: 15px 0;
          }
          .header__navbar__link {
            color: #aaaaaa;
            transition: color 0.4s ease;
            &:hover {
              color: #ffffff;
            }
          }
          .header__navbar__link__animated {
            position: relative;
            display: inline-block;
            margin: 30px 25px;
            text-decoration: none;
            margin-right: 40px;
            text-shadow: 0 0 1px rgba(255,255,255,0.3);
            &::after {
              position: absolute;
              top: 100%;
              left: 0;
              width: 100%;
              height: 3px;
              background-color: #436cad;
              content: "";
              opacity: 0;
              transition: all .3s ease-in-out;
              transform: translateY(-4px);
            }
            &:hover::after {
              opacity: 1;
              transform: translateY(0);
            }
          }
        }

  //***************handle-the-mobile-screen
        .h_mobile {
          width: 50%;
          float: left;
          padding: 50px;
          text-align: center;
          border-bottom: 1px solid #C6C6C6;
          transition: all .3s ease-in-out;
          @media (max-width: 540px) {
            width: 100%;
            display: block;
            padding: 21px;
          }

          a {
            text-decoration: none;
            color: #436cad !important;
            &:hover {
              color: #66698f !important;
            }
          }
          .green {
            color: #42a928 !important;

          }
        }
      }

  //*********************content-styles
      .header-content {
        width: 100%;
        padding-bottom: 128px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
          .row {
            display: flex;
            justify-content: center;
            width: 1170px;
            padding-right: 15px;
            padding-left: 15px;
            @media (max-width: 992px) {
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              align-items: center;
            }
            .hero-section-content {
                padding-left: 40px;
                margin-top: 330px;
                @media (max-width: 992px) {
                  width: 100%;
                  margin-top: 4px;
                }
              .hero-section {
                h1 {
                  color: #436cad;
                  font-size: 64px;
                  font-weight: 1.2em;
                  font-weight: 600;
                  @media (max-width: 992px) {
                    text-align: center;
                  }
                  @media (max-width: 767px) {
                    font-size: 48px;
                  }
                  @media (max-width: 479px) {
                    font-size: 34px;
                  }
                }
                p {
                  margin-bottom: 24px;
                  color: rgba(26, 26, 26, .7);
                  font-size: 24px;
                  line-height: 1.4em;
                  text-align: left;
                  @media (max-width: 992px) {
                    text-align: center;
                  }
                  @media (max-width: 767px) {
                    font-size: 20px;
                  }
                  @media (max-width: 479px) {
                    font-size: 16px;
                  }
                }
                .feature-logo {
                  h6 {
                    color: rgba(26, 26, 26, .7);
                    font-size: 13px;
                    @media (max-width: 992px) {
                      display: none;

                    }
                  }
                  .feature-logo-wrap {
                    img {
                      opacity: .4;
                    }
                    @media (max-width: 992px) {
                      display: none;
                    }

                  }
                }
              }
            }
            .survey-section {
              padding-right: 0px;
              padding-left: 0px;
              margin-bottom: -25px;
              margin-top: 126px;
              z-index: 1;
              @media (max-width: 992px) {
                margin-top: 20px;
              }
              .hold-survey {
                img {
                  width: 100%;
                  vertical-align: middle;
                  display: inline-block;
                  margin-bottom: -55px;
                  @media (max-width: 992px) {
                    display: none;
                  }
                }
                .survey-form {
                  position: relative;
                  z-index: 999;
                  display: flex;
                  width: 100%;
                  padding: 18px;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  border-radius: 8px;
                  background-color: #fff;
                  box-shadow: 0 0 34px 0 rgba(18, 24, 105, .15);
                  h3 {
                    width: 100%;
                    color: rgba(26, 26, 26, .7);
                    font-weight: 400;
                    text-align: center;
                    font-size: 24px;
                    line-height: 30px;
                    margin-top: 20px;
                  }
                  .survey-button {
                    display: flex;
                    width: 100%;
                    height: 60px;
                    margin-top: 32px;
                    margin-bottom: 32px;
                    justify-content: center;
                    align-items: center;
                    .w-button {
                      display: inline-block;
                      padding: 9px 15px;
                      line-height: inherit;
                      text-decoration: none;
                      cursor: pointer;
                      border-radius: 0;
                      &:hover {
                        background-color: #ceeef8;
                      }
                    }
                    .left {
                      display: flex;
                      width: 25%;
                      height: 60px;
                      justify-content: center;
                      align-items: center;
                      border: 1px solid #08a8dd;
                      border-top-left-radius: 4px;
                      border-bottom-left-radius: 4px;
                      background-color: #f3f8fc;
                      transition: all .3s ease-in-out;
                      color: #08a8dd;
                      text-align: center;
                    }
                    .middle {
                      display: flex;
                      width: 25%;
                      height: 60px;
                      justify-content: center;
                      align-items: center;
                      border-color: #08a8dd;
                      border-top-style: solid;
                      border-top-width: 1px;
                      border-right-style: solid;
                      border-right-width: 1px;
                      border-bottom-style: solid;
                      border-bottom-width: 1px;
                      background-color: #f3f8fc;
                      transition: all .3s ease-in-out;
                      color: #08a8dd;
                      text-align: center;
                    }
                    .right {
                      display: flex;
                      width: 25%;
                      height: 60px;
                      justify-content: center;
                      align-items: center;
                      border-color: #08a8dd;
                      border-top-style: solid;
                      border-top-width: 1px;
                      border-right-style: solid;
                      border-right-width: 1px;
                      border-bottom-style: solid;
                      border-bottom-width: 1px;
                      border-top-right-radius: 4px;
                      border-bottom-right-radius: 4px;
                      background-color: #f3f8fc;
                      transition: all .3s ease;
                      color: #08a8dd;
                      text-align: center;
                    }
                  }
                  .cta-check {
                    width: 280px;
                    height: 40px;
                    border-radius: 20px !important;
                    background-color: #42a928;
                    box-shadow: 0 0 9px 0 rgba(18, 24, 105, .2);
                    transition: all .3s ease-in-out;
                    font-weight: 600;
                    text-align: center;
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                    text-shadow: 0 0 0 transparent;
                  }
                .w-button-check {
                  display: inline-block;
                  color: #fff;
                  padding: 9px 15px;
                  line-height: inherit;
                  text-decoration: none;
                  cursor: pointer;
                  border-radius: 0;
                  &:hover {
                    box-shadow: 0 3px 9px 0 rgba(18, 24, 105, .2);
                    transform: translate(0px, -8px);
                }
                  }
                  .warn {
                    color: #616673;
                    text-align: center;
                    margin-top: 16px;
                    margin-bottom: 16px;
                    span {
                      font-size: 11px;
                      color: rgba(26, 26, 26, .7);
                    }
                  }
                }
              }
            }
          }

      }
  }
